In [1]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Google API Key
gkey = "AIzaSyAQ93Lgxm0ZILQEAW0QU72_i3nM-5wgXro"

In [2]:
# Import cities file into the cities_pd DataFrame
csv_file = 'cities.csv'
csv_pd = pd.read_csv(csv_file)
cities_pd = pd.DataFrame(csv_pd)

In [3]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_pd['Latitude'] = ''
cities_pd['Longitude'] = ''
cities_pd['Airport Name'] = ''
cities_pd['Airport Address'] = ''
cities_pd['Airport Rating'] = ''
cities_pd.head()

,City,State,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [4]:
for index, row in cities_pd.iterrows():
    # get city and state names
    city = row['City'] 
    state = row['State']
    target_city = city + ', ' + state
    
    # create api url
    target_url = "https://maps.googleapis.com/maps/api/geocode/json" \
    "?address=%s&key=%s" % (target_city, gkey)
    
    airport_data = requests.get(target_url).json()

    # get response data
    cities_pd.set_value(index, "Latitude", airport_data['results'][0]['geometry']['location']['lat'])
    cities_pd.set_value(index, "Longitude", airport_data['results'][0]['geometry']['location']['lng'])

cities_pd.head()

,City,State,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York,New York,36.1024,-115.175,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [5]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings


for index, row in cities_pd.iterrows():
    # get city and state lat and lng
    lat = row['Latitude'] 
    lng = row['Longitude']
    
    # create api url
    target_search = "airport"
    target_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" \
    "?location=%s,%s&keyword=%s&radius=%s&key=%s" % (lat, lng, target_search, 15000, gkey)
    
    try:
        airport_data = requests.get(target_url).json()
        
        # get response data
        cities_pd.set_value(index, "Airport Name", airport_data['results'][0]['name'])
        cities_pd.set_value(index, "Airport Address", airport_data['results'][0]['vicinity'])
        cities_pd.set_value(index, "Airport Rating", airport_data['results'][0]['rating'])
        
    except:
        print('no airport') 
    
    


cities_pd.head()

no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport
no airport

,City,State,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York,New York,36.1024,-115.175,Henderson Executive Airport,"3500 Executive Terminal Dr, Henderson",4.4
1,Los Angeles,California,34.0522,-118.244,Hawthorne Municipal Airport,"12101 Crenshaw Blvd #1, Hawthorne",4.3
2,Chicago,Illinois,41.8781,-87.6298,Chicago Midway International Airport,"5700 S Cicero Ave, Chicago",3.8
3,Houston,Texas,29.7604,-95.3698,William P. Hobby Airport,"7800 Airport Blvd, Houston",4
4,Philadelphia,Pennsylvania,39.9526,-75.1652,Philadelphia International Airport,"8000 Essington Ave, Philadelphia",3.3

In [6]:
# Save Data to csv
cities_pd.to_csv('Airport_Data.csv')

# Visualize to confirm airport data appears