In [1]:
import pandas as pd

from flask import Flask, render_template, jsonify, redirect, current_app

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [117]:
from flask_sqlalchemy import SQLAlchemy

In [2]:
engine = create_engine("sqlite:///db/belly_button_biodiversity.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [3]:
OTU = Base.classes.otu
SAMPLES = Base.classes.samples
META = Base.classes.samples_metadata

In [4]:
session = Session(engine)

In [119]:
app = Flask(__name__)

In [120]:
db = SQLAlchemy(app)

/Users/ddrossi93/anaconda/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:774: UserWarning: Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. Defaulting SQLALCHEMY_DATABASE_URI to "sqlite:///:memory:".
  'Neither SQLALCHEMY_DATABASE_URI nor SQLALCHEMY_BINDS is set. '
/Users/ddrossi93/anaconda/lib/python3.6/site-packages/flask_sqlalchemy/__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [142]:
sample = 'BB_940'

In [143]:
query = 'SAMPLES.' + sample

In [189]:
results = session.execute("SELECT otu_id," + sample + " FROM samples ORDER BY " + sample + " DESC")

In [190]:
otu_ids = []
values = []

In [191]:
for result in results:
    otu_ids.append(result[0])
    values.append(result[1])

In [193]:
otu_ids

[1167,
 2859,
 482,
 2264,
 41,
 1189,
 352,
 189,
 1977,
 2318,
 3450,
 874,
 1959,
 2191,
 1950,
 2077,
 2275,
 944,
 2184,
 2244,
 2024,
 2419,
 2811,
 165,
 2782,
 2011,
 2247,
 2396,
 830,
 1795,
 2964,
 2722,
 307,
 2178,
 2908,
 1193,
 1208,
 2039,
 2167,
 1274,
 2737,
 2739,
 833,
 907,
 1314,
 1962,
 2186,
 2335,
 2936,
 121,
 159,
 170,
 258,
 259,
 340,
 342,
 357,
 412,
 513,
 725,
 1169,
 1232,
 1497,
 1498,
 1503,
 1505,
 1960,
 1968,
 2065,
 2110,
 2188,
 2235,
 2291,
 2342,
 2350,
 2475,
 2483,
 2491,
 2546,
 2571,
 11,
 19,
 22,
 24,
 39,
 42,
 79,
 81,
 84,
 93,
 102,
 122,
 133,
 154,
 185,
 198,
 226,
 235,
 244,
 246,
 300,
 314,
 320,
 327,
 328,
 359,
 361,
 373,
 381,
 386,
 400,
 404,
 407,
 414,
 564,
 593,
 620,
 650,
 728,
 791,
 794,
 821,
 841,
 854,
 866,
 881,
 919,
 922,
 1094,
 1115,
 1155,
 1159,
 1174,
 1179,
 1191,
 1199,
 1217,
 1223,
 1227,
 1243,
 1254,
 1484,
 1495,
 1496,
 1501,
 1502,
 1515,
 1524,
 1576,
 1600,
 1935,
 1944,
 1947,
 1954,
 1965,
 1984,
 1991,
 1997,
 2036,
 2040,
 2051,
 2054,
 2062,
 2068,
 2080,
 2084,
 2093,
 2096,
 2114,
 2115,
 2136,
 2165,
 2192,
 2197,
 2202,
 2212,
 2216,
 2217,
 2229,
 2256,
 2263,
 2268,
 2334,
 2413,
 2423,
 2473,
 2508,
 2539,
 2542,
 2549,
 2603,
 2633,
 2750,
 2752,
 2753,
 2758,
 2795,
 2820,
 2829,
 2837,
 2840,
 2852,
 2873,
 2876,
 2915,
 2917,
 2949,
 2968,
 2985,
 2989,
 2994,
 3427,
 3439,
 3453,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 20,
 21,
 23,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 40,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 155,
 156,
 157,
 158,
 160,
 161,
 162,
 163,
 164,
 166,
 167,
 168,
 169,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 186,
 187,
 188,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 245,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 301,
 302,
 303,
 304,
 305,
 306,
 308,
 309,
 310,
 311,
 312,
 313,
 315,
 316,
 317,
 318,
 319,
 321,
 322,
 323,
 324,
 325,
 326,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 341,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 353,
 354,
 355,
 356,
 358,
 360,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 382,
 383,
 384,
 385,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 401,
 402,
 403,
 405,
 406,
 408,
 409,
 410,
 411,
 413,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 726,
 727,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 792,
 793,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 831,
 832,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 ...]

In [194]:
d = {
    "otu_id" : otu_ids,
    "value": values
}

In [195]:
df = pd.DataFrame(d)

In [196]:
df

      otu_id  value
0       1167    163
1       2859    126
2        482    113
3       2264     78
4         41     71
5       1189     51
6        352     50
7        189     47
8       1977     40
9       2318     40
10      3450     37
11       874     36
12      1959     30
13      2191     28
14      1950     25
15      2077     23
16      2275     22
17       944     19
18      2184     19
19      2244     14
20      2024     13
21      2419     13
22      2811     13
23       165     12
24      2782     12
25      2011     11
26      2247     11
27      2396     11
28       830     10
29      1795     10
...      ...    ...
3644    3645      0
3645    3646      0
3646    3647      0
3647    3648      0
3648    3649      0
3649    3650      0
3650    3651      0
3651    3652      0
3652    3653      0
3653    3654      0
3654    3655      0
3655    3656      0
3656    3657      0
3657    3658      0
3658    3659      0
3659    3660      0
3660    3661      0
3661    3662      0
3662    3663      0
3663    3664      0
3664    3665      0
3665    3666      0
3666    3667      0
3667    3668      0
3668    3669      0
3669    3670      0
3670    3671      0
3671    3672      0
3672    3673      0
3673    3674      0

[3674 rows x 2 columns]