In [1]:
# import dependencies
import pandas as pd

In [2]:
import sqlalchemy
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import Session

In [3]:

Base = declarative_base()
engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)

In [4]:
# impore cleaned measurements csv
measurements_path = 'Data/clean_hawaii_measurements.csv'
measurements_csv = pd.read_csv(measurements_path)
measurements_df = pd.DataFrame(measurements_csv)
measurements_df.head()

       station      date  prcp  tobs
0  USC00519397  1/1/2010  0.08    65
1  USC00519397  1/2/2010  0.00    63
2  USC00519397  1/3/2010  0.00    74
3  USC00519397  1/4/2010  0.00    76
4  USC00519397  1/7/2010  0.06    70

In [5]:
measurements_df.columns = ['station', 'date', 'precipitation', 'tobs']
measurements_df.head()

       station      date  precipitation  tobs
0  USC00519397  1/1/2010           0.08    65
1  USC00519397  1/2/2010           0.00    63
2  USC00519397  1/3/2010           0.00    74
3  USC00519397  1/4/2010           0.00    76
4  USC00519397  1/7/2010           0.06    70

In [6]:
# impore stations csv
stations_path = 'Data/hawaii_stations.csv'
stations_csv = pd.read_csv(stations_path)
stations_df = pd.DataFrame(stations_csv)
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [7]:
conn = engine.connect()

In [8]:
class Measurement(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String) 
    precipitation = Column(Float) 
    tobs = Column(Integer)

In [9]:
class Station(Base):
    __tablename__ = "stations"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float) 
    longitude = Column(Float) 
    elevation = Column(Float)

In [10]:
stations_dict = stations_df.to_dict(orient='records')

In [11]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
table = sqlalchemy.Table('stations', metadata, autoload=True)

NoSuchTableError: stations

In [ ]:
conn.execute(table.insert(), stations_dict)

In [ ]:
conn.execute("select * from stations limit 5").fetchall()

In [ ]:
measurements_dict = measurements_df.to_dict(orient='records')

In [ ]:
table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [ ]:
conn.execute(table.insert(), measurements_dict)

In [ ]:
conn.execute("select * from measurements limit 5").fetchall()