In [1]:
# import dependencies
import pandas as pd

In [2]:
import sqlalchemy
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData
from sqlalchemy.orm import Session

In [3]:
# impore cleaned measurements csv
measurements_path = 'Data/clean_hawaii_measurements.csv'
measurements_csv = pd.read_csv(measurements_path)
measurements_df = pd.DataFrame(measurements_csv)
measurements_df.head()

       station      date  prcp  tobs
0  USC00519397  1/1/2010  0.08    65
1  USC00519397  1/2/2010  0.00    63
2  USC00519397  1/3/2010  0.00    74
3  USC00519397  1/4/2010  0.00    76
4  USC00519397  1/7/2010  0.06    70

In [4]:
measurements_df.columns = ['station', 'date', 'precipitation', 'tobs']
measurements_df.head()

       station      date  precipitation  tobs
0  USC00519397  1/1/2010           0.08    65
1  USC00519397  1/2/2010           0.00    63
2  USC00519397  1/3/2010           0.00    74
3  USC00519397  1/4/2010           0.00    76
4  USC00519397  1/7/2010           0.06    70

In [5]:
# impore stations csv
stations_path = 'Data/hawaii_stations.csv'
stations_csv = pd.read_csv(stations_path)
stations_df = pd.DataFrame(stations_csv)
stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
Base = declarative_base()

In [7]:
class Measurement(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String) 
    precipitation = Column(Float) 
    tobs = Column(Integer)

In [8]:
class Station(Base):
    __tablename__ = "stations"
    
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float) 
    longitude = Column(Float) 
    elevation = Column(Float)

In [9]:
engine = create_engine("sqlite:///hawaii.sqlite")
Base.metadata.create_all(engine)

session = Session(bind=engine)
conn = engine.connect()

In [10]:
stations_dict = stations_df.to_dict(orient='records')

In [11]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [12]:
table = sqlalchemy.Table('stations', metadata, autoload=True)

In [13]:
conn.execute(table.insert(), stations_dict)

In [14]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [15]:
measurements_dict = measurements_df.to_dict(orient='records')

In [16]:
table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [17]:
conn.execute(table.insert(), measurements_dict)

In [18]:
conn.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '1/1/2010', 0.08, 65),
 (2, 'USC00519397', '1/2/2010', 0.0, 63),
 (3, 'USC00519397', '1/3/2010', 0.0, 74),
 (4, 'USC00519397', '1/4/2010', 0.0, 76),
 (5, 'USC00519397', '1/7/2010', 0.06, 70)]

In [22]:
measurements_df

           station       date  precipitation  tobs
0      USC00519397   1/1/2010           0.08    65
1      USC00519397   1/2/2010           0.00    63
2      USC00519397   1/3/2010           0.00    74
3      USC00519397   1/4/2010           0.00    76
4      USC00519397   1/7/2010           0.06    70
5      USC00519397   1/8/2010           0.00    64
6      USC00519397   1/9/2010           0.00    68
7      USC00519397  1/10/2010           0.00    73
8      USC00519397  1/11/2010           0.01    64
9      USC00519397  1/12/2010           0.00    61
10     USC00519397  1/14/2010           0.00    66
11     USC00519397  1/15/2010           0.00    65
12     USC00519397  1/16/2010           0.00    68
13     USC00519397  1/17/2010           0.00    64
14     USC00519397  1/18/2010           0.00    72
15     USC00519397  1/19/2010           0.00    66
16     USC00519397  1/20/2010           0.00    66
17     USC00519397  1/21/2010           0.00    69
18     USC00519397  1/22/2010           0.00    67
19     USC00519397  1/23/2010           0.00    67
20     USC00519397  1/24/2010           0.01    71
21     USC00519397  1/25/2010           0.00    67
22     USC00519397  1/26/2010           0.04    76
23     USC00519397  1/27/2010           0.12    68
24     USC00519397  1/28/2010           0.00    72
25     USC00519397  1/31/2010           0.03    67
26     USC00519397   2/1/2010           0.01    66
27     USC00519397   2/4/2010           0.01    69
28     USC00519397   2/5/2010           0.00    67
29     USC00519397   2/6/2010           0.00    67
...            ...        ...            ...   ...
18073  USC00516128  7/17/2017           0.39    72
18074  USC00516128  7/18/2017           2.40    77
18075  USC00516128  7/19/2017           0.27    74
18076  USC00516128  7/20/2017           0.70    75
18077  USC00516128  7/21/2017           0.10    72
18078  USC00516128  7/22/2017           4.00    72
18079  USC00516128  7/23/2017           0.80    78
18080  USC00516128  7/24/2017           0.84    77
18081  USC00516128  7/25/2017           0.30    79
18082  USC00516128  7/26/2017           0.30    73
18083  USC00516128  7/27/2017           0.00    75
18084  USC00516128  7/28/2017           0.40    73
18085  USC00516128  7/29/2017           0.30    77
18086  USC00516128  7/30/2017           0.30    79
18087  USC00516128  7/31/2017           0.00    74
18088  USC00516128   8/2/2017           0.25    80
18089  USC00516128   8/3/2017           0.06    76
18090  USC00516128   8/7/2017           0.05    78
18091  USC00516128   8/8/2017           0.34    74
18092  USC00516128   8/9/2017           0.15    71
18093  USC00516128  8/10/2017           0.07    75
18094  USC00516128  8/12/2017           0.14    74
18095  USC00516128  8/14/2017           0.22    79
18096  USC00516128  8/15/2017           0.42    70
18097  USC00516128  8/16/2017           0.42    71
18098  USC00516128  8/17/2017           0.13    72
18099  USC00516128  8/19/2017           0.09    71
18100  USC00516128  8/21/2017           0.56    76
18101  USC00516128  8/22/2017           0.50    76
18102  USC00516128  8/23/2017           0.45    76

[18103 rows x 4 columns]