# Instructions:

Using the modified DataFrame that was created earlier, create a summary table for the dataset that includes the following pieces of information...

The count of unique authors within the DataFrame

The year of the earliest published book in the DataFrame

The year of the latest published book in the DataFrame

The total number of reviews within the DataFrame

In [1]:
# Import Dependencies
import pandas as pd

In [3]:
# File to Load
goodreads_path = "Resources/books_clean.csv" # TODO: change on Windos / to \

# Read the modified GoodReads csv and store into Pandas DataFrame
df = pd.DataFrame.from_csv(goodreads_path)
df.head()

,Publication Year,Original Title,Authors,One Star Reviews,Two Star Reviews,Three Star Reviews,Four Star Reviews,Five Star Reviews
ISBN,,,,,,,,
439023483,2008.0,The Hunger Games,Suzanne Collins,66715,127936,560092,1481305,2706317
439554934,1997.0,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",75504,101676,455024,1156318,3011543
316015849,2005.0,Twilight,Stephenie Meyer,456191,436802,793319,875073,1355439
61120081,1960.0,To Kill a Mockingbird,Harper Lee,60427,117415,446835,1001952,1714267
743273567,1925.0,The Great Gatsby,F. Scott Fitzgerald,86236,197621,606158,936012,947718

In [13]:
# Calculate the number of unique authors in the DataFrame
authors = len(df["Authors"].unique())
# Calculate the earliest/latest year a book was published
oldest_book = df["Publication Year"].min()
newest_book = df["Publication Year"].max()
# Calculate the total reviews for the entire dataset
total_reviews = df["One Star Reviews"].sum() + df["Two Star Reviews"].sum() + df["Three Star Reviews"].sum() + df["Four Star Reviews"].sum() + df["Five Star Reviews"].sum()

In [17]:
# Place all of the data found into a summary DataFrame
summary = pd.DataFrame({"Total Unique Authors" : authors,
                       "Earliest Year" : [oldest_book],
                      "Latest Year" : [newest_book],
                      "Total Reviews" : [total_reviews]})
summary

   Earliest Year  Latest Year  Total Reviews  Total Unique Authors
0        -1750.0       2017.0      596873216                  4664