In [1]:
# import dependencies
import pandas as pd
import os

In [2]:
# import files
school_file = os.path.join('Data', 'schools_complete.csv')
students_file = os.path.join('Data', 'students_complete.csv')

In [3]:
# read csvs using pandas
school_pd = pd.read_csv(school_file)
student_pd = pd.read_csv(students_file)

In [4]:
# make dataframes
school_df = pd.DataFrame(school_pd)
student_df = pd.DataFrame(student_pd)
student_df['math_score'].mean()

78.98537145774827

In [5]:
# get totals
total_schools = len(school_df)
total_students = len(student_df)
total_budget = school_df['budget'].sum()

In [6]:
# get averages
avg_math = student_df['math_score'].mean()
avg_reading = student_df['reading_score'].mean()

In [7]:
# get students passing math
num_passing_math = len(student_df.loc[student_df['math_score'] >= 70, :])
passing_math = num_passing_math / total_students

# get students passing reading
num_passing_reading = len(student_df.loc[student_df['reading_score'] >= 70, :])
passing_reading = num_passing_reading / total_students

# get overall passing students
overall_passing = (passing_math + passing_reading) / 2

In [8]:
df = {"Total Schools" : total_schools,
     "Total Students" : "{:,}".format(total_students),
     "Total Budget" : "${:,}".format(total_budget),
     "Average Math Score" : avg_math,
     "Average Reading Score" : avg_reading,
     "% Passing Math" : '{:.2%}'.format(passing_math),
     "% Passing Reading" : '{:.2%}'.format(passing_reading),
     "Overall Passing %" : '{:.2%}'.format(overall_passing)}
high_level_df = pd.DataFrame(df, index=[0])
high_level_df
# TODO: figure out how to flip columns. also table looks ugly as dirt

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing %,Total Budget,Total Schools,Total Students
0,74.98%,85.81%,78.985371,81.87784,80.39%,"$24,649,428",15,"39,170"

In [9]:
# get grouped summaries
grouped_school_summary = student_df.groupby('school').count()
average_score_group = student_df.groupby('school').mean()
# get school type
grouped_school_summary['School Type'] = school_pd['type'].values

# get school budgets
# TODO: format budget
grouped_school_summary['Budget'] = school_pd['budget'].values

# Get Per student budget
# TODO: format per student budget
grouped_school_summary['Budget per Student'] = grouped_school_summary['Budget'].values / grouped_school_summary['Student ID'].values

# get average math and reading scores
grouped_school_summary['Average Math Score'] = average_score_group['math_score'].values
grouped_school_summary['Average Reading Score'] = average_score_group['reading_score'].values

# get % passing
# TODO: format to %
passing_math_df = student_df.loc[student_df['math_score'] >= 70, :].groupby('school').count()
passing_reading_df = student_df.loc[student_df['reading_score'] >= 70, :].groupby('school').count()
grouped_school_summary['% Passing Math'] = passing_math_df['Student ID'].values / grouped_school_summary['Student ID'].values
grouped_school_summary['% Passing Reading'] = passing_reading_df['Student ID'].values / grouped_school_summary['Student ID'].values
grouped_school_summary['Overall Passing %'] = (grouped_school_summary['% Passing Math'].values + grouped_school_summary['% Passing Reading'].values) / 2

grouped_school_summary
cleaned_grouped_school_df = grouped_school_summary.iloc[ : , [0,6,7,8,9,10,11,12,13]]

cleaned_grouped_school_df

# rename columns
cleaned_grouped_school_df = cleaned_grouped_school_df.rename(columns={"Student ID" : "Total Students"})
cleaned_grouped_school_df

,Total Students,School Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
school,,,,,,,,,
Bailey High School,4976,District,1910635,383.970056,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,1858,District,1884411,1014.214747,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,2949,Charter,1056600,358.290946,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,2739,District,3022020,1103.329682,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,1468,Charter,917500,625.000000,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,4635,Charter,1319574,284.697735,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,427,Charter,1081356,2532.449649,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,2917,District,3124928,1071.281454,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,4761,Charter,248087,52.108171,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,962,Charter,585858,609.000000,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,3999,Charter,1049400,262.415604,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,1761,District,2547363,1446.543441,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,1635,District,3094650,1892.752294,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,2283,District,1763916,772.630749,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,1800,Charter,1043130,579.516667,83.682222,83.955000,0.933333,0.966111,0.949722

In [10]:
# get top 5 schools
# TODO: format numbers
# TODO: change school column 
top_5_schools_df = cleaned_grouped_school_df.sort_values(['Overall Passing %'], ascending = False).head()
top_5_schools_df

,Total Students,School Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
school,,,,,,,,,
Cabrera High School,1858,District,1884411,1014.214747,83.061895,83.975780,0.941335,0.970398,0.955867
Thomas High School,1635,District,3094650,1892.752294,83.418349,83.848930,0.932722,0.973089,0.952905
Pena High School,962,Charter,585858,609.000000,83.839917,84.044699,0.945946,0.959459,0.952703
Griffin High School,1468,Charter,917500,625.000000,83.351499,83.816757,0.933924,0.971390,0.952657
Wilson High School,2283,District,1763916,772.630749,83.274201,83.989488,0.938677,0.965396,0.952037

In [11]:
# get bottom 5 schools
# TODO: format numbers
# TODO: change school column 
bottom_5_schools_df = cleaned_grouped_school_df.sort_values(['Overall Passing %'], ascending = True).head()
bottom_5_schools_df

,Total Students,School Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
school,,,,,,,,,
Rodriguez High School,3999,Charter,1049400,262.415604,76.842711,80.744686,0.663666,0.802201,0.732933
Figueroa High School,2949,Charter,1056600,358.290946,76.711767,81.158020,0.659885,0.807392,0.733639
Huang High School,2917,District,3124928,1071.281454,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,4761,Charter,248087,52.108171,77.072464,80.966394,0.660576,0.812224,0.736400
Ford High School,2739,District,3022020,1103.329682,77.102592,80.746258,0.683096,0.792990,0.738043

In [12]:
# TODO: format
grouped_grade_math_df = student_df.iloc[ : , [3,4,6]]
grouped_grade_math_df = grouped_grade_math_df.groupby(['school', 'grade']).mean()
grouped_grade_math_df

                             math_score
school                grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [13]:
# TODO: format
grouped_grade_reading_df = student_df.iloc[ : , [4,3,5]]
grouped_grade_reading_df = grouped_grade_reading_df.groupby(['school', 'grade']).mean()
grouped_grade_reading_df

                             reading_score
school                grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [34]:
budget_bins = [0,500,1500,2000,3000]
budget_bin_names = ['Low Spending', 'Average Spending', 'High Spending', 'Very High Spending']
budget_binned_df = cleaned_grouped_school_df.iloc[ : , [5,6,7,8]]
budget_binned_df['Budget Summary'] = pd.cut(cleaned_grouped_school_df['Budget per Student'], budget_bins, labels = budget_bin_names)
budget_binned_df

/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %,Budget Summary
school,,,,,
Bailey High School,81.033963,0.666801,0.819333,0.743067,Low Spending
Cabrera High School,83.975780,0.941335,0.970398,0.955867,Average Spending
Figueroa High School,81.158020,0.659885,0.807392,0.733639,Low Spending
Ford High School,80.746258,0.683096,0.792990,0.738043,Average Spending
Griffin High School,83.816757,0.933924,0.971390,0.952657,Average Spending
Hernandez High School,80.934412,0.667530,0.808630,0.738080,Low Spending
Holden High School,83.814988,0.925059,0.962529,0.943794,Very High Spending
Huang High School,81.182722,0.656839,0.813164,0.735002,Average Spending
Johnson High School,80.966394,0.660576,0.812224,0.736400,Low Spending
Pena High School,84.044699,0.945946,0.959459,0.952703,Average Spending
Rodriguez High School,80.744686,0.663666,0.802201,0.732933,Low Spending
Shelton High School,83.725724,0.938671,0.958546,0.948609,Average Spending
Thomas High School,83.848930,0.932722,0.973089,0.952905,High Spending
Wilson High School,83.989488,0.938677,0.965396,0.952037,Average Spending
Wright High School,83.955000,0.933333,0.966111,0.949722,Average Spending

In [42]:
size_bins = [0,1000,3000,5000]
size_bin_names = ['Small', 'Medium', 'Large']
size_binned_df = cleaned_grouped_school_df.iloc[ : , [5,6,7,8]]
size_binned_df['School Size'] = pd.cut(cleaned_grouped_school_df['Total Students'], size_bins, labels = size_bin_names)
size_binned_df
#cleaned_grouped_school_df

/Users/ddrossi93/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %,School Size
school,,,,,
Bailey High School,81.033963,0.666801,0.819333,0.743067,Large
Cabrera High School,83.975780,0.941335,0.970398,0.955867,Medium
Figueroa High School,81.158020,0.659885,0.807392,0.733639,Medium
Ford High School,80.746258,0.683096,0.792990,0.738043,Medium
Griffin High School,83.816757,0.933924,0.971390,0.952657,Medium
Hernandez High School,80.934412,0.667530,0.808630,0.738080,Large
Holden High School,83.814988,0.925059,0.962529,0.943794,Small
Huang High School,81.182722,0.656839,0.813164,0.735002,Medium
Johnson High School,80.966394,0.660576,0.812224,0.736400,Large
Pena High School,84.044699,0.945946,0.959459,0.952703,Small
Rodriguez High School,80.744686,0.663666,0.802201,0.732933,Large
Shelton High School,83.725724,0.938671,0.958546,0.948609,Medium
Thomas High School,83.848930,0.932722,0.973089,0.952905,Medium
Wilson High School,83.989488,0.938677,0.965396,0.952037,Medium
Wright High School,83.955000,0.933333,0.966111,0.949722,Medium

In [46]:
grouped_school_type_df = cleaned_grouped_school_df.groupby('School Type').mean()
grouped_school_type_df = grouped_school_type_df.iloc[ :, [3,4,5,6,7]]
grouped_school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
School Type,,,,,
Charter,80.324201,82.429369,0.798740,0.886242,0.842491
District,80.556334,82.643266,0.822592,0.898988,0.860790