# Instructions

Create a DataFrame for a frame shop that contains three columns - "Frame", "Price", and "Sales" - and has five rows of data stored within it.

Using an alternate method from that used before, create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity" - and has four rows of data stored within it.

Bonus:
Once both of the DataFrames have been created, discuss with those around you which method you prefer to use and why.

In [1]:
# Import Dependencies
import pandas as pd

In [15]:
# Create a DataFrame of frames using a dictionary of lists
df = {"Frame" : [1,2,3,4,5],
      "Price" : [5,7,4,3,2,],
      "Sales" : [9,9,9,7,6]}
s = pd.DataFrame(df)
s

   Frame  Price  Sales
0      1      5      9
1      2      7      9
2      3      4      9
3      4      3      7
4      5      2      6

In [28]:
# Create a DataFrame of paintings using a list of dictionaries
df2 = [{"Painting" : "Mona Lisa", "Price" : 150000, "Popularity" : "***"},
      {"Painting" : "The Scream", "Price" : 200000, "Popularity" : "****"},
      {"Painting" : "Starry Night", "Price" : 500000, "Popularity" : "**"},
      {"Painting" : "Sisteen Chapel", "Price" : 737000, "Popularity" : "*"},
      {"Painting" : "Last Supper", "Price" : 929000, "Popularity" : "****"}]
s2 = pd.DataFrame(df2)
s2

         Painting Popularity   Price
0       Mona Lisa        ***  150000
1      The Scream       ****  200000
2    Starry Night         **  500000
3  Sisteen Chapel          *  737000
4     Last Supper       ****  929000