In [51]:
# import dependicies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import time
import pandas as pd

In [2]:
# get url
url = 'https://mars.nasa.gov/news/'

In [3]:
# get html
response = requests.get(url)

In [4]:
# create bs obj
soup = bs(response.text, 'lxml')

In [5]:
content_titles = soup.find_all('div', class_ = 'content_title')

In [6]:
# initalize lists
titles = []
paragraphs = []

In [7]:
for title in content_titles:
    titles.append(title.a.text.strip())

In [8]:
titles

['NASA Invests in Visionary Technology',
 'NASA is Ready to Study the Heart of Mars',
 'NASA Briefing on First Mission to Study Mars Interior',
 "New 'AR' Mobile App Features 3-D NASA Spacecraft",
 'Witness First Mars Launch from West Coast',
 'NASA InSight Mission to Mars Arrives at Launch Site']

In [9]:
content_paragraphs = soup.find_all('div', class_ = 'rollover_description_inner')

In [10]:
for paragraph in content_paragraphs:
    paragraphs.append(paragraph.text.strip())

In [11]:
# grab latest content
latest_title = titles[0]
latest_paragraph = paragraphs[0]

In [12]:
# use splinter to grab image urls
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)
browser.click_link_by_partial_text('FULL IMAGE')

In [13]:
# wait 3 seconds to search for url
time.sleep(3)
html = browser.html
soup = bs(html, 'html.parser')
featured_image_url = soup.find_all('img', class_ = 'fancybox-image')

In [14]:
featured_image_url = 'https://www.jpl.nasa.gov' + featured_image_url[0]['src']

In [15]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16605_ip.jpg'

In [30]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [36]:
html = browser.html
soup = bs(html, 'html.parser')
tweets = soup.find_all('div', class_ = 'js-tweet-text-container')

In [49]:
# get the latest tweet
for tweet in tweets:
    mars_weather = tweet.p.text
    break

In [50]:
mars_weather

'Sol 2022 (April 14, 2018), Sunny, high -4C/24F, low -73C/-99F, pressure at 7.19 hPa, daylight 05:27-17:21'

In [52]:
url = 'https://space-facts.com/mars/'
mars_facts = pd.read_html(url)

In [55]:
mars_facts = mars_facts[0]

In [57]:
mars_facts.columns = ['Category', 'Value']

In [59]:
mars_facts.set_index('Category', inplace=True)

In [60]:
mars_facts

                                              Value
Category
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers