In [14]:
# import dependencies
import pandas as pd
import os

In [15]:
# import files
school_file = os.path.join('Data', 'schools_complete.csv')
students_file = os.path.join('Data', 'students_complete.csv')

In [16]:
# read csvs using pandas
school_pd = pd.read_csv(school_file)
student_pd = pd.read_csv(students_file)

In [17]:
# make dataframes
school_df = pd.DataFrame(school_pd)
student_df = pd.DataFrame(student_pd)
student_df['math_score'].mean()

78.98537145774827

In [18]:
# get totals
total_schools = len(school_df)
total_students = len(student_df)
total_budget = school_df['budget'].sum()

In [19]:
# get averages
avg_math = student_df['math_score'].mean()
avg_reading = student_df['reading_score'].mean()

In [20]:
# get students passing math
num_passing_math = len(student_df.loc[student_df['math_score'] >= 70, :])
passing_math = num_passing_math / total_students

# get students passing reading
num_passing_reading = len(student_df.loc[student_df['reading_score'] >= 70, :])
passing_reading = num_passing_reading / total_students

# get overall passing students
overall_passing = (passing_math + passing_reading) / 2

In [21]:
df = {"Total Schools" : total_schools,
     "Total Students" : "{:,}".format(total_students),
     "Total Budget" : "${:,}".format(total_budget),
     "Average Math Score" : avg_math,
     "Average Reading Score" : avg_reading,
     "% Passing Math" : '{:.2%}'.format(passing_math),
     "% Passing Reading" : '{:.2%}'.format(passing_reading),
     "Overall Passing %" : '{:.2%}'.format(overall_passing)}
high_level_df = pd.DataFrame(df, index=[0])
high_level_df
# TODO: figure out how to flip columns. also table looks ugly as dirt

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Passing %,Total Budget,Total Schools,Total Students
0,74.98%,85.81%,78.985371,81.87784,80.39%,"$24,649,428",15,"39,170"

In [36]:
# get grouped summaries
grouped_school_summary = student_df.groupby('school').count()
average_score_group = student_df.groupby('school').mean()
# get school type
grouped_school_summary['School Type'] = school_pd['type'].values

# get school budgets
# TODO: format budget
grouped_school_summary['Budget'] = school_pd['budget'].values

# Get Per student budget
# TODO: format per student budget
grouped_school_summary['Budget per Student'] = grouped_school_summary['Budget'].values / grouped_school_summary['Student ID'].values

# get average math and reading scores
grouped_school_summary['Average Math Score'] = average_score_group['math_score'].values
grouped_school_summary['Average Reading Score'] = average_score_group['reading_score'].values

# get % passing
# TODO: format to %
passing_math_df = student_df.loc[student_df['math_score'] >= 70, :].groupby('school').count()
passing_reading_df = student_df.loc[student_df['reading_score'] >= 70, :].groupby('school').count()
grouped_school_summary['% Passing Math'] = passing_math_df['Student ID'].values / grouped_school_summary['Student ID'].values
grouped_school_summary['% Passing Reading'] = passing_reading_df['Student ID'].values / grouped_school_summary['Student ID'].values
grouped_school_summary['Overall Passing %'] = (grouped_school_summary['% Passing Math'].values + grouped_school_summary['% Passing Reading'].values) / 2

grouped_school_summary
cleaned_grouped_school_df = grouped_school_summary.iloc[ : , [0,6,7,8,9,10,11,12,13]]

cleaned_grouped_school_df

# rename columns
cleaned_grouped_school_df = cleaned_grouped_school_df.rename(columns={"Student ID" : "Total Students"})
cleaned_grouped_school_df = cleaned_grouped_school_df.to_string(formatters={
    '% Passing Math': '{:,.2f}'.format,
    '% Passing Reading': '{:,.2f}'.format,
    'Overall Passing %': '{:,.2%}'.format
})

,Total Students,School Type,Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing %
school,,,,,,,,,
Bailey High School,4976,District,1910635,383.970056,77.048432,81.033963,0.666801,0.819333,0.743067
Cabrera High School,1858,District,1884411,1014.214747,83.061895,83.975780,0.941335,0.970398,0.955867
Figueroa High School,2949,Charter,1056600,358.290946,76.711767,81.158020,0.659885,0.807392,0.733639
Ford High School,2739,District,3022020,1103.329682,77.102592,80.746258,0.683096,0.792990,0.738043
Griffin High School,1468,Charter,917500,625.000000,83.351499,83.816757,0.933924,0.971390,0.952657
Hernandez High School,4635,Charter,1319574,284.697735,77.289752,80.934412,0.667530,0.808630,0.738080
Holden High School,427,Charter,1081356,2532.449649,83.803279,83.814988,0.925059,0.962529,0.943794
Huang High School,2917,District,3124928,1071.281454,76.629414,81.182722,0.656839,0.813164,0.735002
Johnson High School,4761,Charter,248087,52.108171,77.072464,80.966394,0.660576,0.812224,0.736400
Pena High School,962,Charter,585858,609.000000,83.839917,84.044699,0.945946,0.959459,0.952703
Rodriguez High School,3999,Charter,1049400,262.415604,76.842711,80.744686,0.663666,0.802201,0.732933
Shelton High School,1761,District,2547363,1446.543441,83.359455,83.725724,0.938671,0.958546,0.948609
Thomas High School,1635,District,3094650,1892.752294,83.418349,83.848930,0.932722,0.973089,0.952905
Wilson High School,2283,District,1763916,772.630749,83.274201,83.989488,0.938677,0.965396,0.952037
Wright High School,1800,Charter,1043130,579.516667,83.682222,83.955000,0.933333,0.966111,0.949722